@using Core.Constants
@using Web.Areas.Admin.ViewModels.FaqCategory
@model FaqCategoryUpdateVM

<form enctype="multipart/form-data" asp-action="update" asp-controller="faqcategory" method="post">

     <div class="form-group">
        <label asp-for="Title">Title</label>
        <input class="form-control" asp-for="Title">
        <span asp-validation-for="Title"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <textarea class="form-control" asp-for="Description"></textarea>
        <span asp-validation-for="Description"></span>
    </div>


    <button type="submit" class="btn btn-primary">Create</button>
    <a class="btn btn-danger" asp-action="index" asp-controller="faqcategory">Cancel</a>
</form>


@section Scripts{



    <script src="https://cdn.ckeditor.com/ckeditor5/35.2.1/classic/ckeditor.js"></script>
    <script>
        const properties = ["Description"];

        properties.forEach(function myFunction(e) {

        ClassicEditor
            .create(document.querySelector(`#${e}`))
            .then(editor => {
                console.log(editor);
            })
            .catch(error => {
                console.error(error);
            });
        })

    </script>
}