@using Web.ViewModels.Account
@model AccountRegisterVM

<main>
    <!-- main-frame section starts -->
    <section class="main-frame-2 no-select" style="background-image: url(/assets/images/cart-frame.jpg);">
        <div class="main-frame-2-title">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-12">
                        <div class="main-frame-2-title-text custom-title-text">
                            Register
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="main-frame-2-breadcrumb">
                            Home / Register
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- main-frame section ends -->
    <!-- product-table section starts -->
    <section class="register my-5 no-select">
        <div class="container">
            <form  class="register-form" method="post" asp-action="register" asp-controller="account">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Username"></label>
                    <input class="form-control" asp-for="Username" />
                    <span asp-validation-for="Username"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input class="form-control" asp-for="Email" />
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber"></label>
                    <input class="form-control" asp-for="PhoneNumber" />
                    <span asp-validation-for="PhoneNumber"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input class="form-control" asp-for="Password" />
                    <span asp-validation-for="Password"></span>
                </div>
                  <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input class="form-control" asp-for="ConfirmPassword" />
                    <span asp-validation-for="ConfirmPassword"></span>
                </div>
                <div class="form-group d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
                <div class="form-group d-flex justify-content-center">
                    <div>
                        <span>Already have an account?</span> <a asp-action="login" asp-controller="account">Login now</a>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- product-table section ends -->


</main>