@using Core.Constants
@using Web.Areas.Admin.ViewModels.Doctor
@model DoctorCreateVM

<form enctype="multipart/form-data" asp-action="create" asp-controller="doctor" method="post">

    <label asp-for="FullName">FullName</label>
    <input asp-for="FullName" />
    <span asp-validation-for="FullName"></span>

    <div class="form-group">
        <label asp-for="Specialty">Specialty</label>
        <input class="form-control" asp-for="Specialty">
        <span asp-validation-for="Specialty"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <textarea class="form-control" asp-for="Description"></textarea>
        <span asp-validation-for="Description"></span>
    </div>

    <div class="form-group">
        <label asp-for="MainPhoto">MainPhoto</label>
        <input class="form-control" asp-for="MainPhoto">
        <span asp-validation-for="MainPhoto"></span>
    </div>

    <div class="form-group">
        <label asp-for="PhoneNumber">PhoneNumber</label>
        <input class="form-control" asp-for="PhoneNumber">
        <span asp-validation-for="PhoneNumber"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input class="form-control" asp-for="Email">
        <span asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
        <label asp-for="Qualification">Qualification</label>
        <textarea class="form-control" asp-for="Qualification"></textarea>
        <span asp-validation-for="Qualification"></span>
    </div>

    <div class="form-group">
        <label asp-for="Skill">Skill</label>
        <textarea class="form-control" asp-for="Skill"></textarea>
        <span asp-validation-for="Skill"></span>
    </div>
    <div class="form-group">
        <label asp-for="WorkingTime">WorkingTime</label>
        <textarea class="form-control" asp-for="WorkingTime"></textarea>
        <span asp-validation-for="WorkingTime"></span>
    </div>

    <div class="form-group">
        <label asp-for="FbUrl">FbUrl</label>
        <input class="form-control" asp-for="FbUrl">
        <span asp-validation-for="FbUrl"></span>
    </div>
    <div class="form-group">
        <label asp-for="TwUrl">TwUrl</label>
        <input class="form-control" asp-for="TwUrl">
        <span asp-validation-for="TwUrl"></span>
    </div>

    <div class="form-group">
        <label asp-for="LiUrl">LiUrl</label>
        <input class="form-control" asp-for="LiUrl">
        <span asp-validation-for="LiUrl"></span>
    </div>

    <div class="form-group">
        <span>Home Page See?</span>
        <label asp-for="HomePageSee">Yes</label>
        <input type="checkbox"  class="form-checkbox" asp-for="HomePageSee">
        <span asp-validation-for="HomePageSee"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
    <a class="btn btn-danger" asp-action="index" asp-controller="doctor">Cancel</a>
</form>

@section Scripts{

    <script src="https://cdn.ckeditor.com/ckeditor5/35.2.1/classic/ckeditor.js"></script>
    <script>
        const properties = ["Description", "Qualification","WorkingTime","Skill"];

        properties.forEach(function myFunction(e) {

            ClassicEditor
                .create(document.querySelector(`#${e}`))
                .then(editor => {
                    console.log(editor);
                })
                .catch(error => {
                    console.error(error);
                });
        })
    </script>

}