 <main>
        <!-- main-frame section starts -->
        <section class="main-frame no-select" style="background-image: url(assets/images/shop-page-title.jpg);">
            <div class="main-frame-title">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-md-12">
                            <div class="main-frame-title-text">
                                Shop
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="main-frame-breadcrumb">
                                Home / Products
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- main-frame section ends -->

        <!-- products section starts -->
        <section class="products no-select">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="left-sidebar">
                            <div class="search">
                                <h4>Search</h4>
                                <div class="search-product">
                                    <input type="search" name="" id="" placeholder="Search products"
                                        class="search-product-input">
                                    <img src="assets/images/search-product-icon.png" alt="" class="search-product-icon">
                                </div>
                            </div>
                            <div class="categories">
                                <h4>Product categories</h4>
                                <ul>
                                    <li>Baby Health (1) </li>
                                    <li>Cancer (3) </li>
                                    <li>Cardiology (2) </li>
                                    <li>Diagnostic (1) </li>
                                    <li>Health Care (2) </li>
                                    <li>Massage (5) </li>
                                    <li>Medical (1) </li>
                                    <li>Medical Tips (1) </li>
                                    <li>MRI scanning (1) </li>
                                    <li>Neurosurgery (1) </li>
                                    <li>Pulmonary (5) </li>
                                    <li>Surgery (1) </li>
                                    <li>Uncategorized (1) </li>
                                    <li>Urology (5) </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 products-side">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 pb-5">
                                <div class="productt" id="1">
                                    <div class="product-image"
                                        style="background-image: url(assets/images/product-1.jpg);">
                                        <div class="basket-wishlist-compare d-flex justify-content-center">
                                            <div class="add-basket text-center"><i class="fas fa-shopping-basket"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-inf">
                                        <h5 class="productt-name">A Omron 3 Series Blood Pressure</h5>
                                        <p><span>$</span><span class="price">39.99</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 pb-5">
                                <div class="productt" id="2">
                                    <div class="product-image"
                                        style="background-image: url(assets/images/product-2.jpg);">
                                        <div class="basket-wishlist-compare d-flex justify-content-center">
                                            <div class="add-basket text-center"><i class="fas fa-shopping-basket"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-inf">
                                        <h5 class="productt-name">A Sialkot Surgical Instruments</h5>
                                        <p><span>$</span><span class="price">20.00</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4  col-md-6 pb-5">
                                <div class="productt" id="3">
                                    <div class="product-image"
                                        style="background-image: url(assets/images/product-3.jpg);">
                                        <div class="basket-wishlist-compare d-flex justify-content-center">
                                            <div class="add-basket text-center"><i class="fas fa-shopping-basket"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-inf">
                                        <h5 class="productt-name">Blue Stethoscope</h5>
                                        <div class="stars">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <p><span>$</span><span class="price">20.00</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4  col-md-6 pb-5">
                                <div class="productt" id="4">
                                    <div class="product-image"
                                        style="background-image: url(assets/images/product-4.jpg);">
                                        <div class="basket-wishlist-compare d-flex justify-content-center">
                                            <div class="add-basket text-center"><i class="fas fa-shopping-basket"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-inf">
                                        <h5 class="productt-name">Conventional Insulin Syringes</h5>
                                        <p><span>$</span><span class="price">20.00</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4  col-md-6 pb-5">
                                <div class="productt" id="5">
                                    <div class="product-image"
                                        style="background-image: url(assets/images/product-5.jpg);">
                                        <div class="basket-wishlist-compare d-flex justify-content-center">
                                            <div class="add-basket text-center"><i class="fas fa-shopping-basket"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-inf">
                                        <h5 class="productt-name">Blue Stethoscope</h5>
                                        <div class="stars">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <p><span>$</span><span class="price">20.00</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4  col-md-6 pb-5">
                                <div class="productt" id="6">
                                    <div class="product-image"
                                        style="background-image: url(assets/images/product-6.jpg);">
                                        <div class="basket-wishlist-compare d-flex justify-content-center">
                                            <div class="add-basket text-center"><i class="fas fa-shopping-basket"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-inf">
                                        <h5 class="productt-name">Inox Medical Cups</h5>
                                        <p><span>$</span><span class="price">39.99</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4  col-md-6 pb-5">
                                <div class="productt" id="7">
                                    <div class="product-image"
                                        style="background-image: url(assets/images/product-7.jpg);">
                                        <div class="basket-wishlist-compare d-flex justify-content-center">
                                            <div class="add-basket text-center"><i class="fas fa-shopping-basket"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-inf">
                                        <h5 class="productt-name">Lidocaine Hydrochloride Injection</h5>
                                        <p><span>$</span><span class="price">39.99</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 pb-5">
                                <div class="productt" id="8">
                                    <div class="product-image"
                                        style="background-image: url(assets/images/product-8.jpg);">
                                        <div class="basket-wishlist-compare d-flex justify-content-center">
                                            <div class="add-basket text-center"><i class="fas fa-shopping-basket"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-inf">
                                        <h5 class="productt-name">Mouth Moisturizer Oral Gel</h5>
                                        <p><span>$</span><span class="price">39.99</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4  col-md-6 pb-5">
                                <div class="productt" id="9">
                                    <div class="product-image"
                                        style="background-image: url(assets/images/product-1.jpg);">
                                        <div class="basket-wishlist-compare d-flex justify-content-center">
                                            <div class="add-basket text-center"><i class="fas fa-shopping-basket"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-inf">
                                        <h5 class="productt-name">A Omron 3 Series Blood Pressure</h5>
                                        <p><span>$</span><span class="price">39.99</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 pb-5">
                                <div class="productt" id="10">
                                    <div class="product-image"
                                        style="background-image: url(assets/images/product-10.jpg);">
                                        <div class="basket-wishlist-compare d-flex justify-content-center">
                                            <div class="add-basket text-center"><i class="fas fa-shopping-basket"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-inf">
                                        <h5 class="productt-name">Polime Oxygen Mask</h5>
                                        <p><span>$</span><span class="price">17.99</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 pb-5">
                                <div class="productt" id="11">
                                    <div class="product-image"
                                        style="background-image: url(assets/images/product-10.jpg);">
                                        <div class="basket-wishlist-compare d-flex justify-content-center">
                                            <div class="add-basket text-center"><i class="fas fa-shopping-basket"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-inf">
                                        <h5 class="productt-name">Polime Oxygen Mask</h5>
                                        <p><span>$</span><span class="price">17.99</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 pb-5">
                                <div class="productt" id="12">
                                    <div class="product-image"
                                        style="background-image: url(assets/images/product-2.jpg);">
                                        <div class="basket-wishlist-compare d-flex justify-content-center">
                                            <div class="add-basket text-center"><i class="fas fa-shopping-basket"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-inf">
                                        <h5 class="productt-name">A Sialkot Surgical Instruments</h5>
                                        <p><span>$</span><span class="price">20.00</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="pagination d-flex justify-content-center">
                                <div class="pagination-element pagination-active">1</div>
                                <div class="pagination-element">2</div>
                                <div class="pagination-element">></div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <!-- products section ends -->
    </main>