@using Core.Constants
@using Web.Areas.Admin.ViewModels.HomeVideoComponent
@model HomeVideoComponentCreateVM

<form enctype="multipart/form-data" asp-action="create" asp-controller="homevideocomponent" method="post">

 
  
    <div class="form-group">
        <label asp-for="CoverPhoto">CoverPhoto</label>
        <input class="form-control" asp-for="CoverPhoto">
        <span asp-validation-for="CoverPhoto"></span>
    </div>


    <div class="form-group">
        <label asp-for="VideoUrl">VideoUrl</label>
        <input class="form-control" asp-for="VideoUrl">
        <span asp-validation-for="VideoUrl"></span>
    </div>

    
    <button type="submit">Create</button>
</form>

