@using Web.ViewModels.Price
@model PriceIndexVM


<main>
    <!-- main-frame section starts -->
    <section class="main-frame no-select" style="background-image: url(assets/images/main-frame-photo.jpg);">
        <div class="main-frame-title">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-12">
                        <div class="main-frame-title-text">
                            Pricings
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="main-frame-breadcrumb">
                            Home / Pricings
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- main-frame section ends -->
    <!-- pricings section starts -->
    <section class="pricings no-select">
        <div class="container">
            <div class="pricing-top text-center" data-aos="fade-down" data-aos-duration="1500">
                <p class="sub-heading">PRICING AND PLAN</p>
                <h2 class="heading">A monthly fee. No costly surprises</h2>
            </div>
            <div class="pricing-slider" data-aos="fade-up" data-aos-duration="1500">

                @foreach (var price in Model.Prices)
                {
                    <div class="pricing-slider-element">
                        <div class="slider-element-wrapper">
                            <h4 class="title-pricing">@price.Title</h4>
                            <p class="subtitle-pricing">@Html.Raw(price.Description)</p>
                            <div class="price">
                                <span class="unitprice">$</span>
                                <span class="price-value">@price.Cost</span>
                                <span class="per">/ per month</span>
                            </div>
                            @Html.Raw(price.Feature)
                            <div class="get-started">Get Started</div>
                        </div>
                    </div>
                }


            </div>
        </div>
    </section>
    <!-- pricings section ends -->
</main>