<footer class="footer-2 no-select">
    <div class="container">
        <!-- footer-top starts -->
        <div class="footer-top row">
            <div class="healthcare col-12 col-lg-4">
                <div class="logo">
                    <a href="#"><img src="~/assets/images/white-logo.svg" alt=""></a>
                </div>
                <p class="healthcare-text">
                    With a background in the healthcare software industry and a desire to
                    build great technology to
                    help companies succeed in making healthcare better.
                </p>
            </div>
            <div class="about-us col-12 col-lg-2 mt-4 mt-lg-0">
                <h5 class="footer-top-col-title">Quick Links</h5>
                <ul>
                    <li class="footer-pass">
                        <i class="fas fa-arrow-right arrow-right"></i>
                        <a href="medical-department.html">Departments</a>
                    </li>
                    <li class="footer-pass">
                        <i class="fas fa-arrow-right arrow-right"></i>
                        <a href="find-doctor.html">Find A Doctor</a>
                    </li>
                    <li class="footer-pass">
                        <i class="fas fa-arrow-right arrow-right"></i>
                        <a href="faq.html">FAQ</a>
                    </li>
                </ul>
            </div>
            <div class="contact col-12 col-lg-3 mt-4 mt-lg-0">
                <h5 class="footer-top-col-title">Contact</h5>
                <p class="contact-text">
                    34th Avenue – New York, W2 3XE United State.<br>
                    info@yourdomain.com<br>
                    +(123) 1800-88-66
                </p>
                <div class="social-media d-inline-block">
                    <a href="https://www.facebook.com/">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://twitter.com/">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="https://www.pinterest.com/">
                        <i class="fab fa-pinterest-p"></i>
                    </a>
                    <a href="https://dribbble.com/">
                        <i class="fab fa-dribbble"></i>
                    </a>
                    <a href="https://www.linkedin.com/">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </div>
            <div class="instagram col-12 col-lg-3 mt-4 mt-lg-0">
                <h5 class="footer-top-col-title">Instagram</h5>
                <div class="container">
                    <div class="row instagram-contents">
                        <div class="col-4">
                            <div class="instagram-content">
                                <img src="~/assets/images/instagram-1.jpg" alt="">
                                <div class="overlay d-flex align-items-center justify-content-center">
                                    <i class="fab fa-instagram insta-icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="instagram-content">
                                <img src="~/assets/images/instagram-2.jpg" alt="">
                                <div class="overlay d-flex align-items-center justify-content-center">
                                    <i class="fab fa-instagram insta-icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="instagram-content">
                                <img src="~/assets/images/instagram-3.jpg" alt="">
                                <div class="overlay d-flex align-items-center justify-content-center">
                                    <i class="fab fa-instagram insta-icon"></i>
                                </div>

                            </div>
                        </div>
                        <div class="col-4 pt-3  pt-md-5 pt-lg-2">
                            <div class="instagram-content">
                                <img src="~/assets/images/instagram-4.jpg" alt="">
                                <div class="overlay d-flex align-items-center justify-content-center">
                                    <i class="fab fa-instagram insta-icon"></i>
                                </div>

                            </div>
                        </div>
                        <div class="col-4 pt-3 pt-md-5 pt-lg-2">
                            <div class="instagram-content">
                                <img src="~/assets/images/instagram-5.jpg" alt="">
                                <div class="overlay d-flex align-items-center justify-content-center">
                                    <i class="fab fa-instagram insta-icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 pt-3 pt-md-5 pt-lg-2">
                            <div class="instagram-content">
                                <img src="~/assets/images/instagram-6.jpg" alt="">
                                <div class="overlay d-flex align-items-center justify-content-center">
                                    <i class="fab fa-instagram insta-icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-top ends -->
    <!-- footer-bottom starts -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row justify-content-between">
                <span class="col-12 col-lg-6 mt-3 mt-lg-0">© 2022 Spyropress. All Rights Reserved</span>
            </div>
        </div>
    </div>
    <!-- footer-bottom ends -->
</footer>